<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Everium</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>
  <body>
    <p>สวัสดี นี้คือการเปลี่ยนรหัสของคุณใน Everium</p>
    <p><a href="{{clientUrl}}/reset-password/{{resetToken}}"> กดที่นี้เพื่อเปลี่ยนรหัสผ่าน </a> <p>
  </body>
</html>